{{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.role) }}
    {{ form_row(form.favorite_tag, {'attr': {'class': 'custom-control-inline'}}) }}

    <button class="btn btn-success">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}