{% extends 'base.html.twig' %}

{% block title %}Wiki index{% endblock %}

{% block body %}
    <h1>Wiki index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Crée le</th>
                <th>Mis à jour le</th>
                <th>Action</th>
                <th>En ligne</th>
            </tr>
        </thead>
        <tbody>
        {% for wiki in wikis %}
            <tr>
                <td>{{ wiki.id }}</td>
                <td>{{ wiki.name }}</td>
                <td>{{ wiki.createdAt ? wiki.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ wiki.updatedAt ? wiki.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('admin_wiki_edit', {'id': wiki.id}) }}"><i class="fas fa-pencil-alt"></i> Editer</a>
                </td>
                <td>{{ wiki.online }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('admin_wiki_new') }}">Nouveau</a>
{% endblock %}
