{% extends 'base.html.twig' %}

{% block title %}Wiki{% endblock %}

{% block body %}
    <h1>Wiki</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ wiki.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ wiki.name }}</td>
            </tr>
            <tr>
                <th>Body</th>
                <td>{{ wiki.body }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ wiki.createdAt ? wiki.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ wiki.updatedAt ? wiki.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('wiki_index') }}">back to list</a>

    <a href="{{ path('wiki_edit', {'id': wiki.id}) }}">edit</a>

    {{ include('wiki/_delete_form.html.twig') }}
{% endblock %}
