{% extends 'base.html.twig' %}

{% block title %}Administration 5MAP{% endblock %}

{% block body %}
<h2 class="my-4">Administration des jeux</h2>

<table class="table table-striped table-bordered table-md">
        <thead class="thead">
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Crée le</th>
                <th>Mis à jour le</th>
                <th>Action</th>
                <th>En ligne</th>
            </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
                <td>{{ game.id }}</td>
                <td>{{ game.name }}</td>
                <td>{{ game.createdAt ? game.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ game.updatedAt ? game.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('admin_game_edit', {'id': game.id}) }}"><i class="fas fa-pencil-alt"></i> Editer</a>
                </td>
                <td>{% if game.online == true %}
                        <a href="{{ path('admin_game_online', {"id": game.id}) }}"><i class="far fa-check-square"></i></a>
                        {% else %}
                        <a href="{{ path('admin_game_online', {"id": game.id}) }}"><i class="far fa-square"></i></a>
                        {% endif %}
                    </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(games) }}
    </div>
<a class="btn btn-success" href="{{ path('admin_game_new') }}">Nouveau jeu</a>
{% endblock %} 
